<div id="notfound" class="body-background">
  <div class="notfound">
    <div class="notfound-404">
      <h1>Lo sentimos</h1>
    </div>
    <h2>El correo electrónico que has introducido no coincide con ninguna cuenta.</h2>
    <p>Por favor pongase en contacto con el administrador para obtener sus credenciales. <a [routerLink]="['/login']">Volver a intentarlo</a></p>
    <!-- <div class="notfound-social">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-pinterest"></i></a>
      <a href="#"><i class="fa fa-google-plus"></i></a>
    </div> -->
  </div>
</div>
